@media (min-width: 1200px) {

  .container {
    width: 900px;
  }
}

@media (min-width: 992px) {

  .container {
    width: 700px;
  }
}

@media (min-width: 768px) {

  .container {
    width: 600px;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
